@import "../../../scss/index.scss";

.register-form {
  margin: 3% 10% 0 10%;
  width: 90%;
  text-align: center;
  box-shadow: darken($color: #000000, $amount: 0);

  .ant-form-item {
    &:nth-child(3),
    &:last-of-type {
      margin: 0;
    }
  }

  &__input {
    .ant-input-prefix {
      i {
        font-size: 0em + 12px / $defaultFontSize;
      }
    }

    input {
      font-size: 0em + 10px / defaultFontSize;
      padding: 5px 5px 5px 20px !important;
      &:focus {
        border-color: #654ea3;
        box-shadow: none;
      }
    }
  }

  &__button {
    width: 40%;
    font-size: 0em + 12px / $defaultFontSize;
    background-image: linear-gradient(to top right, #654ea3, #eaafc8);
    color: #fff;
    height: 42px;

    &:hover {
      background-image: linear-gradient(to top right, #654ea3, #eaafc8);
      color: #fff;
      opacity: 55%;
    }

    &:focus,
    &:active {
      background-image: linear-gradient(to top right, #654ea3, #eaafc8);
      color: $font-ligth;
      border: 0;
    }
  }
}
