//Font
$defaultFontSize: 10px;

//Colors
$primary-color: #ffff;
$primary-color-over: #0280b3;

//Menu
$menu-color: #34495e;

//Font Color
$font-ligth: #ffff;
$font-grey-ligth: #e5e8e8;
$font-grey: #808080;
$font-grey-dark: #0000;
$border-soft-dark: #252527;
$font-dark: #0000;

//border
$border-ligth: #ffff;
$border-grey-ligth: #e5e8e8;
$border-grey: #808080;
$border-grey-dark: #595959;
$border-soft-dark: #252527;
$border-dark: #000;

//Background
$background-ligth: #ffff;
$background-grey-ligth: #e5e8e8;
$background-grey: #808080;
$background-grey-dark: #595959;
$background-soft-dark: #252527;
$background-dark: #000;
$background-error: #ff00001f;
$background-success: #84b84c1f;

//Success and error
$success: #9b59b6;
$error: #cb4335;

//Responsive down size
$media-breackpoint-down-xs: 413.98px;
$media-breackpoint-down-sm: 573.98px;
$media-breackpoint-down-md: 767.98px;
$media-breackpoint-down-lg: 991.98px;
$media-breackpoint-down-xl: 1199.98px;

//Responsive up size
$media-breackpoint-up-xs: 320px;
$media-breackpoint-up-sm: 576px;
$media-breackpoint-up-md: 768px;
$media-breackpoint-up-lg: 922px;
$media-breackpoint-up-xl: 1200px;
